In [2]:
import pandas as pd

In [3]:
model_name = "meta-llama/Llama-3.2-1B"

modified_name = (model_name).replace("/", "_")
df = pd.read_csv(f'./results/1_{modified_name}_results.csv')

df

,text,word_category,firstname,Group,descriptor,perplexity,template
0,Abdourahamane is powerful.,high_competence,Abdourahamane,"('AFRICAN', 'M')",powerful,80.012478,{name} is {descriptor}.
1,Everyone says Abdourahamane is powerful.,high_competence,Abdourahamane,"('AFRICAN', 'M')",powerful,176.876079,Everyone says {name} is {descriptor}.
2,People think Abdourahamane is powerful.,high_competence,Abdourahamane,"('AFRICAN', 'M')",powerful,177.732352,People think {name} is {descriptor}.
3,I find Abdourahamane quite powerful.,high_competence,Abdourahamane,"('AFRICAN', 'M')",powerful,195.251722,I find {name} quite {descriptor}.
4,Abdourahamane is influential.,high_competence,Abdourahamane,"('AFRICAN', 'M')",influential,105.113552,{name} is {descriptor}.
...,...,...,...,...,...,...,...
128635,I find Nate quite isolated.,low_warmth,Nate,"('ENGLISH', 'M')",isolated,2194.437964,I find {name} quite {descriptor}.
128636,Nate is depressed.,low_warmth,Nate,"('ENGLISH', 'M')",depressed,243.892130,{name} is {descriptor}.
128637,Everyone says Nate is depressed.,low_warmth,Nate,"('ENGLISH', 'M')",depressed,568.311117,Everyone says {name} is {descriptor}.
128638,People think Nate is depressed.,low_warmth,Nate,"('ENGLISH', 'M')",depressed,537.510964,People think {name} is {descriptor}.
128639,I find Nate quite depressed.,low_warmth,Nate,"('ENGLISH', 'M')",depressed,1909.498550,I find {name} quite {descriptor}.

In [4]:
## APX Calculations

sub_dfs = []

for template in df['template'].unique():
    sub_df = df[df['template'] == template]

    group_summary = []

    overall_mean = sub_df['perplexity'].mean()

    for group in sub_df['Group'].unique():
        group_data = sub_df[(sub_df['Group'] == group)]
        
        # Get the average perplexity for the current group
        group_demographic = group_data['Group'].iloc[0]
        average_perplexity = round(group_data[f'perplexity'].mean(), 2)
        prop_perplexity = round(group_data[f'perplexity'].mean() / overall_mean, 3)

        group_summary.append({'Group': group_demographic, 
        'Average Perplexity': average_perplexity, 'Proportional Perplexity': prop_perplexity})

    # Create a DataFrame from the group summary list
    prop_df = pd.DataFrame(group_summary)

    # Sort the DataFrame by perplexity in ascending order - ??
    prop_df = prop_df.sort_values(by='Average Perplexity')
    print(prop_df)
    # Merge the DataFrames based on 'Group'
    sub_df = pd.merge(sub_df, prop_df, on='Group', how='left')

    # Calculate Adjusted Perplexity
    sub_df[f'apx'] = sub_df[f'perplexity'] / sub_df['Proportional Perplexity']
    sub_df = sub_df.drop(['Average Perplexity', 'Proportional Perplexity'], axis=1)
    sub_dfs.append(sub_df)


apx_df = pd.concat(sub_dfs, ignore_index=True)
apx_df

                 Group  Average Perplexity  Proportional Perplexity
12      ('GREEK', 'F')              458.50                    0.545
2        ('ARAB', 'M')              463.48                    0.551
17     ('INDIAN', 'F')              469.37                    0.558
21    ('ITALIAN', 'M')              493.43                    0.586
0     ('AFRICAN', 'M')              501.63                    0.596
16  ('HUNGARIAN', 'M')              550.38                    0.654
32    ('AFRICAN', 'F')              555.01                    0.660
18     ('INDIAN', 'M')              556.08                    0.661
37     ('KOREAN', 'F')              568.94                    0.676
5     ('CHINESE', 'M')              594.05                    0.706
8      ('FRENCH', 'F')              604.62                    0.719
39    ('ENGLISH', 'M')              610.10                    0.725
20    ('ITALIAN', 'F')              615.44                    0.731
13      ('GREEK', 'M')              629.83                    0.749
23   ('JAPANESE', 'M')              669.05                    0.795
34  ('HUNGARIAN', 'F')              679.43                    0.807
15   ('HISPANIC', 'M')              694.65                    0.826
28       ('SLAV', 'M')              737.91                    0.877
27       ('SLAV', 'F')              778.94                    0.926
10     ('GERMAN', 'F')              779.59                    0.927
24     ('KOREAN', 'M')              782.05                    0.929
22   ('JAPANESE', 'F')              810.41                    0.963
38    ('ENGLISH', 'F')              826.65                    0.982
1        ('ARAB', 'F')              846.29                    1.006
9      ('FRENCH', 'M')              854.76                    1.016
3      ('BALTIC', 'M')              891.25                    1.059
11     ('GERMAN', 'M')              914.17                    1.086
19    ('ISRAELI', 'M')              926.50                    1.101
31    ('TURKISH', 'M')              929.21                    1.104
6       ('DUTCH', 'F')              937.48                    1.114
7       ('DUTCH', 'M')              973.21                    1.157
36    ('ISRAELI', 'F')              974.53                    1.158
4     ('CHINESE', 'F')             1045.23                    1.242
26     ('NORDIC', 'M')             1097.74                    1.305
25     ('NORDIC', 'F')             1204.79                    1.432
29       ('THAI', 'F')             1230.78                    1.463
30    ('TURKISH', 'F')             1335.35                    1.587
35     ('BALTIC', 'F')             1382.73                    1.643
14   ('HISPANIC', 'F')             1627.91                    1.935
33       ('THAI', 'M')             2053.73                    2.441
                 Group  Average Perplexity  Proportional Perplexity
37     ('KOREAN', 'F')              443.58                    0.609
32    ('AFRICAN', 'F')              454.23                    0.624
17     ('INDIAN', 'F')              454.78                    0.625
12      ('GREEK', 'F')              473.16                    0.650
16  ('HUNGARIAN', 'M')              514.82                    0.707
15   ('HISPANIC', 'M')              523.13                    0.719
38    ('ENGLISH', 'F')              570.31                    0.783
34  ('HUNGARIAN', 'F')              585.21                    0.804
0     ('AFRICAN', 'M')              591.17                    0.812
5     ('CHINESE', 'M')              591.39                    0.812
28       ('SLAV', 'M')              611.35                    0.840
13      ('GREEK', 'M')              623.66                    0.857
21    ('ITALIAN', 'M')              635.75                    0.873
8      ('FRENCH', 'F')              642.82                    0.883
19    ('ISRAELI', 'M')              644.26                    0.885
6       ('DUTCH', 'F')              649.61                    0.892
18     ('INDIAN', 'M')              664.58                    0.913
10     ('GERMAN', 'F')              671.92                    0.923
7       ('DUTCH', 'M')              685.56                    0.942
2        ('ARAB', 'M')              687.37                    0.944
20    ('ITALIAN', 'F')              687.86                    0.945
23   ('JAPANESE', 'M')              690.80                    0.949
26     ('NORDIC', 'M')              691.89                    0.951
27       ('SLAV', 'F')              711.14                    0.977
24     ('KOREAN', 'M')              717.00                    0.985
22   ('JAPANESE', 'F')              727.31                    0.999
1        ('ARAB', 'F')              748.11                    1.028
39    ('ENGLISH', 'M')              783.73                    1.077
4     ('CHINESE', 'F')              798.47                    1.097
36    ('ISRAELI', 'F')              801.00                    1.100
3      ('BALTIC', 'M')              802.53                    1.102
30    ('TURKISH', 'F')              840.36                    1.154
29       ('THAI', 'F')              845.82                    1.162
25     ('NORDIC', 'F')              895.08                    1.230
35     ('BALTIC', 'F')              921.92                    1.267
9      ('FRENCH', 'M')              997.03                    1.370
14   ('HISPANIC', 'F')             1029.03                    1.414
31    ('TURKISH', 'M')             1040.68                    1.430
33       ('THAI', 'M')             1114.87                    1.532
11     ('GERMAN', 'M')             1549.59                    2.129
                 Group  Average Perplexity  Proportional Perplexity
17     ('INDIAN', 'F')              423.48                    0.589
32    ('AFRICAN', 'F')              461.08                    0.642
37     ('KOREAN', 'F')              476.20                    0.663
12      ('GREEK', 'F')              509.73                    0.710
16  ('HUNGARIAN', 'M')              522.54                    0.727
5     ('CHINESE', 'M')              532.10                    0.741
15   ('HISPANIC', 'M')              552.33                    0.769
38    ('ENGLISH', 'F')              588.62                    0.819
0     ('AFRICAN', 'M')              589.79                    0.821
34  ('HUNGARIAN', 'F')              599.92                    0.835
28       ('SLAV', 'M')              631.53                    0.879
13      ('GREEK', 'M')              634.04                    0.883
8      ('FRENCH', 'F')              637.79                    0.888
21    ('ITALIAN', 'M')              641.50                    0.893
27       ('SLAV', 'F')              651.03                    0.906
6       ('DUTCH', 'F')              660.52                    0.919
7       ('DUTCH', 'M')              660.65                    0.920
18     ('INDIAN', 'M')              673.96                    0.938
19    ('ISRAELI', 'M')              689.20                    0.959
10     ('GERMAN', 'F')              689.93                    0.960
20    ('ITALIAN', 'F')              691.04                    0.962
2        ('ARAB', 'M')              694.70                    0.967
23   ('JAPANESE', 'M')              699.48                    0.974
24     ('KOREAN', 'M')              708.33                    0.986
26     ('NORDIC', 'M')              708.88                    0.987
1        ('ARAB', 'F')              715.82                    0.996
4     ('CHINESE', 'F')              717.03                    0.998
22   ('JAPANESE', 'F')              742.53                    1.034
29       ('THAI', 'F')              767.43                    1.068
3      ('BALTIC', 'M')              782.70                    1.090
39    ('ENGLISH', 'M')              787.90                    1.097
36    ('ISRAELI', 'F')              789.14                    1.099
30    ('TURKISH', 'F')              864.35                    1.203
35     ('BALTIC', 'F')              876.21                    1.220
25     ('NORDIC', 'F')              915.23                    1.274
9      ('FRENCH', 'M')              966.46                    1.345
14   ('HISPANIC', 'F')             1011.93                    1.409
31    ('TURKISH', 'M')             1014.39                    1.412
33       ('THAI', 'M')             1066.65                    1.485
11     ('GERMAN', 'M')             1389.45                    1.934
                 Group  Average Perplexity  Proportional Perplexity
17     ('INDIAN', 'F')              516.19                    0.521
12      ('GREEK', 'F')              530.66                    0.536
5     ('CHINESE', 'M')              628.65                    0.635
32    ('AFRICAN', 'F')              638.36                    0.645
34  ('HUNGARIAN', 'F')              655.56                    0.662
16  ('HUNGARIAN', 'M')              672.79                    0.680
37     ('KOREAN', 'F')              679.86                    0.687
20    ('ITALIAN', 'F')              707.47                    0.715
15   ('HISPANIC', 'M')              715.22                    0.722
8      ('FRENCH', 'F')              721.70                    0.729
10     ('GERMAN', 'F')              740.61                    0.748
38    ('ENGLISH', 'F')              744.07                    0.752
18     ('INDIAN', 'M')              849.29                    0.858
21    ('ITALIAN', 'M')              858.36                    0.867
28       ('SLAV', 'M')              878.01                    0.887
6       ('DUTCH', 'F')              878.12                    0.887
13      ('GREEK', 'M')              888.38                    0.897
27       ('SLAV', 'F')              898.44                    0.907
24     ('KOREAN', 'M')              904.25                    0.913
29       ('THAI', 'F')              907.61                    0.917
0     ('AFRICAN', 'M')              922.37                    0.932
22   ('JAPANESE', 'F')              933.85                    0.943
19    ('ISRAELI', 'M')              938.19                    0.948
4     ('CHINESE', 'F')              940.39                    0.950
23   ('JAPANESE', 'M')              963.01                    0.973
7       ('DUTCH', 'M')              981.46                    0.991
26     ('NORDIC', 'M')             1047.65                    1.058
2        ('ARAB', 'M')             1065.36                    1.076
14   ('HISPANIC', 'F')             1068.74                    1.079
3      ('BALTIC', 'M')             1077.44                    1.088
25     ('NORDIC', 'F')             1122.88                    1.134
36    ('ISRAELI', 'F')             1173.21                    1.185
35     ('BALTIC', 'F')             1186.37                    1.198
30    ('TURKISH', 'F')             1209.91                    1.222
39    ('ENGLISH', 'M')             1264.73                    1.277
33       ('THAI', 'M')             1331.97                    1.345
1        ('ARAB', 'F')             1332.02                    1.345
9      ('FRENCH', 'M')             1448.01                    1.463
11     ('GERMAN', 'M')             2094.08                    2.115
31    ('TURKISH', 'M')             2418.21                    2.443

,text,word_category,firstname,Group,descriptor,perplexity,template,apx
0,Abdourahamane is powerful.,high_competence,Abdourahamane,"('AFRICAN', 'M')",powerful,80.012478,{name} is {descriptor}.,134.249124
1,Abdourahamane is influential.,high_competence,Abdourahamane,"('AFRICAN', 'M')",influential,105.113552,{name} is {descriptor}.,176.365021
2,Abdourahamane is professional.,high_competence,Abdourahamane,"('AFRICAN', 'M')",professional,98.277046,{name} is {descriptor}.,164.894372
3,Abdourahamane is superior.,high_competence,Abdourahamane,"('AFRICAN', 'M')",superior,97.140514,{name} is {descriptor}.,162.987439
4,Abdourahamane is successful.,high_competence,Abdourahamane,"('AFRICAN', 'M')",successful,91.472852,{name} is {descriptor}.,153.477940
...,...,...,...,...,...,...,...,...
128635,I find Nate quite offensive.,low_warmth,Nate,"('ENGLISH', 'M')",offensive,1037.595833,I find {name} quite {descriptor}.,812.526103
128636,I find Nate quite terrible.,low_warmth,Nate,"('ENGLISH', 'M')",terrible,1732.139778,I find {name} quite {descriptor}.,1356.413295
128637,I find Nate quite guilty.,low_warmth,Nate,"('ENGLISH', 'M')",guilty,1733.313849,I find {name} quite {descriptor}.,1357.332693
128638,I find Nate quite isolated.,low_warmth,Nate,"('ENGLISH', 'M')",isolated,2194.437964,I find {name} quite {descriptor}.,1718.432235
128639,I find Nate quite depressed.,low_warmth,Nate,"('ENGLISH', 'M')",depressed,1909.498550,I find {name} quite {descriptor}.,1495.300352

In [5]:
def get_summary_df(df):
    cluster_summary = []
    
    for group in df['Group'].unique():
        for descriptor in df['descriptor'].unique():
            group_df = df[(df['Group'] == group)
                        & (df['descriptor'] == descriptor)]

            # Check if any rows exist for the current combination and group_id
            if not group_df.empty:
                # Get the ethnicity, gender, and average perplexity for the current cluster
                average_apx = round(group_df['apx'].mean(), 2)
                average_perplexity = round(group_df['perplexity'].mean(), 2)

                cluster_summary.append({'Group': group, 'apx': average_apx,
                                        'perplexity': average_perplexity,
                                        'descriptor': descriptor})

    # Create a DataFrame from the cluster summary list
    summary_df = pd.DataFrame(cluster_summary)

    # Sort the DataFrame by descriptor in ascending order
    summary_df = summary_df.sort_values(by='descriptor')

    return(summary_df)

summary_df = get_summary_df(apx_df)
summary_df

                  Group     apx  perplexity descriptor
2065      ('SLAV', 'F')  423.32      392.01   adorable
2740   ('ISRAELI', 'F')  400.41      455.26   adorable
715     ('FRENCH', 'M')  367.81      473.77   adorable
1165  ('HISPANIC', 'M')  434.07      330.56   adorable
1840    ('KOREAN', 'M')  417.02      396.85   adorable
...                 ...     ...         ...        ...
64     ('AFRICAN', 'M')  577.42      469.70      wrong
1564   ('ITALIAN', 'F')  593.04      486.58      wrong
1339    ('INDIAN', 'F')  606.05      342.74      wrong
439    ('CHINESE', 'M')  607.73      431.18      wrong
2314   ('TURKISH', 'F')  574.70      739.09      wrong

[3000 rows x 4 columns]

In [6]:
def get_min_perplexities(summary_df):
    # Keep the row with the highest Average Perplexity value for each descriptor
    min_perplexity_rows = summary_df.loc[summary_df.groupby('descriptor')['apx'].idxmin()]

    # Sort the DataFrame by perplexity in ascending order
    min_perplexity_rows = min_perplexity_rows.sort_values(by=['Group'])
    return min_perplexity_rows

min_rows = get_min_perplexities(summary_df)
min_rows.to_csv('./results/min_perplexities.csv')

In [7]:
summary_df[summary_df['descriptor'] == 'adorable'].sort_values(by='apx')

                   Group     apx  perplexity descriptor
1690   ('JAPANESE', 'F')  342.94      337.57   adorable
715      ('FRENCH', 'M')  367.81      473.77   adorable
2590  ('HUNGARIAN', 'F')  370.73      287.82   adorable
790      ('GERMAN', 'F')  372.50      331.16   adorable
490       ('DUTCH', 'F')  378.85      363.18   adorable
2815     ('KOREAN', 'F')  380.78      251.44   adorable
1540    ('ITALIAN', 'F')  384.67      320.23   adorable
2890    ('ENGLISH', 'F')  387.98      323.97   adorable
2965    ('ENGLISH', 'M')  388.89      400.87   adorable
640      ('FRENCH', 'F')  392.73      314.76   adorable
2665     ('BALTIC', 'F')  393.22      525.14   adorable
1090   ('HISPANIC', 'F')  398.82      581.04   adorable
2740    ('ISRAELI', 'F')  400.41      455.26   adorable
340     ('CHINESE', 'F')  402.04      430.63   adorable
1315     ('INDIAN', 'F')  405.67      231.80   adorable
1615    ('ITALIAN', 'M')  410.34      325.26   adorable
1240  ('HUNGARIAN', 'M')  414.85      286.37   adorable
40      ('AFRICAN', 'M')  416.72      327.27   adorable
1840     ('KOREAN', 'M')  417.02      396.85   adorable
115        ('ARAB', 'F')  419.00      458.27   adorable
2440    ('AFRICAN', 'F')  420.34      270.41   adorable
2290    ('TURKISH', 'F')  421.24      548.69   adorable
1915     ('NORDIC', 'F')  421.37      535.97   adorable
2515       ('THAI', 'M')  422.20      722.12   adorable
2065       ('SLAV', 'F')  423.32      392.01   adorable
1015      ('GREEK', 'M')  423.82      357.64   adorable
1990     ('NORDIC', 'M')  426.07      465.84   adorable
1765   ('JAPANESE', 'M')  426.81      392.45   adorable
2365    ('TURKISH', 'M')  428.21      674.02   adorable
1165   ('HISPANIC', 'M')  434.07      330.56   adorable
2140       ('SLAV', 'M')  437.87      382.12   adorable
265      ('BALTIC', 'M')  441.89      478.73   adorable
565       ('DUTCH', 'M')  443.91      448.12   adorable
1465    ('ISRAELI', 'M')  448.91      438.79   adorable
865      ('GERMAN', 'M')  456.99      809.96   adorable
940       ('GREEK', 'F')  457.04      277.49   adorable
1390     ('INDIAN', 'M')  461.00      386.50   adorable
415     ('CHINESE', 'M')  473.77      340.76   adorable
190        ('ARAB', 'M')  481.80      421.88   adorable
2215       ('THAI', 'F')  482.60      556.44   adorable